{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameSpot</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    {% block style %}
    <style>
        .back-botton{
            background-color: rgb(206, 17, 17);
            color: white;
        }
        .back-botton2{
            background-color: black;
            color: white;
        }
        .back{
            background-color:#ff2200c7 ;
        }
        .fonte{
            font-family: Arial-Bold;
            font-size: 30px;
        }
    </style>
    {% endblock %}
    {% block script %}
    {% endblock %}
</head>
<body>
    {% include "partials/_navbar.html" %}
    {% include "partials/_messages.html" %}
    
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
    

    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    
    
    {% include "partials/_register.html" %}
    {% include "partials/_login.html" %}
  
</body>
</html>