{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% if items %}
        {% for item in items %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{ item.game.path.url }}" alt="{{ item.game.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.game.title }}</h5>
                        <p class="card-text">{{ item.game.description }}</p>
                       <button class="increase_quantity" data-id="{{item.id}}">+</button>
                          <span class="quantity" data-id="{{item.id}}">{{ item.quantity }}</span>
                       <button class="decrease_quantity" data-id="{{item.id}}">-</button>
                       <button class="remove_item" data-id="{{item.id}}">Remover</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <a href="{% url 'checkout' %}" class="btn btn-success">Finalizar Compra</a>
</div>
{% endblock %}
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function(){
        const csrftoken = '{{ csrf_token }}';

        const increaseButtons = document.querySelectorAll('.increase_quantity');
        increaseButtons.forEach(function(button){
            button.addEventListener('click', function(){
                const id = this.dataset.id;
                fetch('/update_cart/'+ id +'/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': csrftoken,
                    },
                    body: new URLSearchParams({
                        'action': 'increase'
                    })
                })
                .then((response) => {
                    return response.json();
                }).then((data) => {
                    const quantityElement = document.querySelector(`.quantity[data-id="${id}"]`);
                    quantityElement.innerHTML = data.quantity;
                });
            });
        });

        const decreaseButtons = document.querySelectorAll('.decrease_quantity');
        decreaseButtons.forEach(function(button){
            button.addEventListener('click', function(){
                const id = this.dataset.id;
                fetch('/update_cart/'+ id +'/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': csrftoken
                    },
                    body: new URLSearchParams({
                        'action': 'decrease'
                    })
                })
                .then((response) => {
                    return response.json();
                }).then((data) => {
                    const quantityElement = document.querySelector(`.quantity[data-id="${id}"]`);
                    quantityElement.innerHTML = data.quantity;
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });
        });

        const removeButtons = document.querySelectorAll('.remove_item');
        removeButtons.forEach(function(button){
            button.addEventListener('click',function(){
                const id = this.dataset.id;
                fetch('/remove_from_cart/'+ id +'/', {
                    method: 'GET',
                    
                }).then((response) => {
                    return response.json();
                }).then((data) => {
                    location.reload();
                }).catch((error) => {
                    console.error('Error:', error);
                });
            })
        })
    })
</script>

{% endblock %}